@import '../Components/Table/style.scss';
@import '../Components/Header/style.scss';
@import '../Components/MuiTable/style.scss';

body{
    margin: 0;
}

.toggle-button{
    display: flex;
    justify-content: end;
}