.navbar{
    display: flex;
    justify-content: space-between;
    
}

.left-nav{
    display: flex;
    justify-content: space-between;
    
}

.right-nav{
    display: flex;
}

.nav-item{
    margin-right: 10px;

}